@model PäronAB.UI.ViewModels.WarehouseListViewModel

@{
    ViewBag.Title = "Päron AB - Warehouses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add/edit warehouse</h2>

<form action="Warehouse/Index" method="post">
    <table class="table table-responsive">
        <tr>
            <td>Id</td>
            <td>
                <input id="id" name="Id" type="number" min="1" value="" class="form-control" required="required" />
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input id="name" name="name" type="text" value="" class="form-control" required="required" />
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" /></td>
            <td></td>
        </tr>
    </table>
</form>

<h2>Warehouses</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @{
        foreach (var warehouse in Model.WarehouseList.OrderBy(w=>w.ID))
        {
            <tr>
                <td>@warehouse.ID</td>
                <td>@warehouse.Name</td>
            </tr>
        }

    }
</table>


